.box-tag {
    margin: auto 5px;
    border-radius: 3px;
    background: #C1C4E5;
	padding: 3px 5px;
    line-height: 1.25;
	cursor: pointer;
}

input.check-r90 {
	margin-left: 1rem;
}

#bddb-recent-dashboard ul span,
#movie-recent-dashboard ul span,
#book-recent-dashboard ul span,
#game-recent-dashboard ul span,
#album-recent-dashboard ul span{
	display: inline-block;
	margin-right: 5px;
	min-width: 150px;
	color: #72777c;
}

.misc-pub-section table {
  width: 100%;
}

.input-short {
	width: 35%;
	min-width: 10rem;
}
.input-mid {
	width: 70%;
	min-width: 15rem;
}
.input-long {
	width: 95%;
	min-width: 20rem;
}